body {
    background: linear-gradient(#e66465, #9198e5);
    color: #F4EBE8;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #F4EBE8;
    text-shadow: 2px 2px 4px #9198e5;
}

#description span {
    display: block;
    text-align: center;
    line-height: 1.5;
}

#bookName {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

#numSongs {
    width: 50px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

#generatePlaylist {
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #390099;
    color: #F4EBE8;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#generatePlaylist:hover {
    background-color: #29E7CD;
    color: #000000;
}

#generatePlaylist:disabled {
    color: #000000;
    background-color: #aaa;
    cursor: not-allowed;
}

#playlistForm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#spinnerGeneratePlaylist {
    display: none;
    border: 8px solid #F4EBE8;
    border-top: 8px solid #29E7CD;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#chatGptOutput {
    display: none;
    list-style-type: none;
    max-width: 600px;
    margin-top: 20px;
    width: 80%;
    max-height: 200px;
    overflow: auto;
    background-color: #390099;
    color: #F4EBE8;
    line-height: 1.5;
    padding: 20px;
    border-radius: 5px;
}

.popup {
    display: none;
    position: fixed;
    width: 300px;
    padding: 20px;
    background-color: #FFD166;
    color: #000000;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    top: 20px;
    left: 20px;
    cursor: pointer;
  }
  
  .close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 15px;
    padding: 5px 10px 30px 30px;
    cursor: pointer;
    color: #000000;
  }  

.auth-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

.spotify-login-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1DB954;
    color: #F4EBE8;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.spotify-login-button:hover {
    background-color: #000000;
    color: #F4EBE8;
}

.logout-link {
    margin-right: 10px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    display: none;
    color: #000000;
}

.logged-in {
    background-color: green;
    color: white;
}

#spotifyPlaylistButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#openPlaylistWithSpotify {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1DB954;
    color: #F4EBE8;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#openPlaylistWithSpotify:hover {
    background-color: #000000;
    color: #F4EBE8;
}

#openPlaylistWithSpotify:disabled {
    color: #000000;
    background-color: #aaa;
    cursor: not-allowed;
}

#spinnerSpotifyPlaylist {
    display: none;
    border: 6px solid #F4EBE8; /* You can adjust the size by changing the border width */
    border-top: 6px solid #e66465;
    border-radius: 50%;
    width: 20px; /* Adjust spinner size */
    height: 20px;
    animation: spin 2s linear infinite;
    margin-top: 15px;
}

@keyframes flashingEffect {
    0% { background-color: #1DB954; color: #F4EBE8; }
    50% { background-color: #FFD166; color: #000000; }
    100% { background-color: #1DB954; color: #F4EBE8; } 
}

.flashing {
    animation: flashingEffect 1s linear 5;
}